{{ if .Params.categories }}
{{ $currentPage := . }}
{{ $related := slice }}
{{ range where .Site.RegularPages "Params.categories" "intersect" .Params.categories }}
  {{ if ne .Permalink $currentPage.Permalink }}
    {{ $related = $related | append . }}
  {{ end }}
{{ end }}
{{ $related = first 3 $related }}
{{ if $related }}
<section class="related-articles">
  <h2>Articles dans la même catégorie</h2>
  <div class="related-list">
    {{ range $related }}
    <a href="{{ .RelPermalink }}" class="related-item">
      <span class="related-category">
        <span class="card-category-dot"></span>
        {{ if .Params.categories }}{{ index .Params.categories 0 }}{{ end }}
      </span>
      <span class="related-title">{{ .Title }}</span>
      <span class="related-meta">
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 January 2006" }}</time>
        <span class="meta-sep">&middot;</span>
        <span>{{ if .Params.readingTime }}{{ .Params.readingTime }}{{ else }}{{ math.Round (div (float .WordCount) 250.0) }}{{ end }} min</span>
      </span>
    </a>
    {{ end }}
  </div>
</section>
{{ end }}
{{ end }}
